img {
    position:absolute;
    z-index: -1; 
    width: 100%; height: 100%
}
.img-gradient {
    position: absolute;
    width: 100%; height: 100%;
    background: linear-gradient(#fbc900 , #ed8500);
    opacity: .6;
}
.card {
    position: fixed;
    top: 55%;
    left: 50%;
    height: 70%;
    width: 75%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.card-body {
    width: 75%;
    height: 60%;
    margin: 25% auto;
    position: relative;
}
.vertical-divider {
    border-left: 5px solid black;
    }




