
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">

<div class="back">
</div>
<app-navbar></app-navbar>

<div class="row justify-content-center">
    <div class="col-4">
      <div class="card">

        <div class ="mat-expansion-panel" hideToggle>
          <div class ="mat-expansion-panel-header">
            <div class ="mat-panel-title">
              Project Information
            </div>
          </div>
          <p>This is the primary content of the panel.</p>
        </div>

        <div class ="mat-expansion-panel" hideToggle>
          <div class ="mat-expansion-panel-header">
            <div class ="mat-panel-title">
              Images & Documentation
            </div>
          </div>
          <p>This is the primary content of the panel.</p>    //images, links, and document uploader needed
        </div>

        //status update expansion panel
        <div class ="mat-expansion-panel" hideToggle>
          <div class ="mat-expansion-panel-header">
            <div class ="mat-panel-title">
              Status Updates
            </div>
          </div>
          //status update table inside Status update expansion panel
          <table>
            <tr ng-repeat="x in status | orderBy : 'Date'">
              <td>{{ x.Date }}</td>
              <td>{{ x.Name }}</td>
              <td>{{ x.Report }}</td> //need to make a link to it (down below)
            </tr>
          </table>
        </div>

        //buttons for adding report (need to add link to different page)
          <div class="add-button">
            <button mat-raised-button (click)="addReport()">Add Report</button>
          </div>



      </div>
    </div>
  </div>

  //will need to call to the right data
  <script>
    var app = angular.module('myApp', []);                    //needs to fix
    app.controller('customersCtrl', function($scope, $http) { //needs to fix  fix to the correct calls
        $http.get("customers.php")                            //needs to fix
        .then(function (response) {$scope.status = response.data.records;});
    });
    </script>
