<div class="back">
</div>
<nav class="navbar biggerpls" style="color: white;">
    <a class="navbar-brand ml-auto" href="/dashboard">
      <img src="\assets\images\Risen-One.png" style="height: 200px; width: 200px;">
    </a>
    <div class = "me-auto ml-0" >
        Welcome, XXXX
    </div>
    <div class="nav-item dropdown ms-auto ">
        <button class="navbar-toggler navbar-light" type="button" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon navbar-light"></span>
          </button>
          <div class="collapse navbar-collapse"
          [ngClass]="{ 'show': navbarOpen }">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item">
            <a class="nav-link" href="/signUp" style=" font-size: 15px; font-weight: bold;">Add Project</a>
         </li>
         <li class="nav-item">
          <a class="nav-link" href="/signUp" style=" font-size: 15px; font-weight: bold;">Add New User</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="#" style="font-size: 15px; font-weight: bold;">LogOut</a>
          </li>
       </ul>
     </div>
    </div>
  </nav>
