
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">


<app-navbar></app-navbar>
<div class="row justify-content-center">
  <div class="col-4">
    <div class="card">
      <table mat-table [dataSource]="dataSource" class="table tablecenter">
        <!-- Date Column -->
        <ng-container matColumnDef="ProjectID">
          <th mat-header-cell *matHeaderCellDef class="thead-dark"> Project </th>
          <td mat-cell (click)=getprojectView() scope="row" style="text-decoration: underline; cursor: pointer;" *matCellDef="let element"> {{element.ProjectID}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="ProjectName">
          <th mat-header-cell *matHeaderCellDef class="thead-dark"> Full Name </th>
          <td mat-cell *matCellDef="let element"> {{element.ProjectName}} </td>
        </ng-container>

        <!-- Report Column -->
        <ng-container matColumnDef="Contract">
          <th mat-header-cell *matHeaderCellDef class="thead-dark"> Contract </th>
            <td mat-cell *matCellDef="let element"> {{element.Contract}} </td>
        </ng-container>
        <ng-container matColumnDef="ProjectNumber">
          <th mat-header-cell *matHeaderCellDef class="thead-dark"> # </th>
          <td mat-cell *matCellDef="let element"> {{element.ProjectNumber }} </td>
        </ng-container>
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef class="thead-dark"> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[6]"
                     showFirstLastButtons
                     aria-label="Select page of report elements">
          </mat-paginator>
      </div>
  </div>
</div>

<!--
<div class="row justify-content-center">
    <div class="col-4">
      <div class="card">
        <table class="table tablecenter">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Project</th>
      <th scope="col">Full Name</th>
      <th scope="col">Contract</th>
      <th scope="col">#</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="text-decoration: underline;">NRM</th>
      <td>Full Name of NRM</td>
      <td>Contract</td>
      <td>#</td>
      <td>In Progress</td>
    </tr>
    
  </tbody>
</table>
      <button (click)="getProjects()">Get Projects</button>
      </div>
    </div>
  </div>-->
