
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">

<div class="back">
</div>
<app-navbar></app-navbar>

<div class="row justify-content-center">
    <div class="col-4">
      <div class="card">
        <table class="table tablecenter">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Project</th>
      <th scope="col">Full Name</th>
      <th scope="col">Contract</th>
      <th scope="col">#</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="text-decoration: underline;">NRM</th>
      <td>Full Name of NRM</td>
      <td>Contract</td>
      <td>#</td>
      <td>In Progress</td>
    </tr>
    
  </tbody>
</table>
      <button (click)="getProjects()">Get Projects</button>
      </div>
    </div>
  </div>
